*.txt
*.zip
*.bak*
*.pyc
*.pickle
*.tfevents*
*ckpt-*
checkpoint
graph.pbtxt
*.csv
*.ods
*.profile
*.png
*.tar.gz
*.tfrecord
*.hdf5
slurm_logs
*.pdf
*.yaml
*.tex
*.pb
*.json
*.flags
*.translate
*_TRAIN
*_TEST
preprocessing/
datasets/as_images/
*.pickle*
